[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "heterogen"]
	path = heterogen
	url = https://github.com/patauchi/heterogen
[submodule "sdStaf"]
	path = sdStaf
	url = https://github.com/cran/sdStaf
